*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

    body{
        display: flex;
        flex-direction: row;
    }

    #sidebar{
        background-color: aqua;
        width: 300px;
        height: 100vh;
    }