<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="../../static/css/estoque.css">
    <title>Cadastro de Setor</title>
</head>

<body>

<main>
    <div class="main_dashboard">
        <h2>Cadastro de Setor</h2>
        
        <p>{{ message }}</p>
        
        <form method="POST" class="main_form">
        
            <label>Nome do setor</label>
            <input type="text" name="nome">
        
            <label>Descrição</label>

            <input type="text" name="descricao">
        
            <label>Classificação</label>

            <input type="text" name="classificacao">
        
            <button type="submit">
                Cadastrar Setor
            </button>
        
        </form>
    </div>
</main>

</body>
</html>