<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cadastro Classificação</h1>
    <p>
        {{message}}
    </p>
    <form method="post">
        <label for="nome_classificacao">Nome da classificação</label>
        <br>
        <input type="text" name="nome_classificacao">
        <br><br>

        <label for="descricao">Nome da classificação</label>
        <br>
        <input type="text" name="descricao">
        <br><br>
        <button type="submit">
            Cadastrar   
        </button>
    </form>
</body>
</html>