<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/estoque.css">    
    <title>Entrada de outros</title>
</head>
<body>

    <div class="headerbar">
        <div class="links_headerbar">
            <div class="dropbox_menu">
                <details>
                    <summary>Entrada de produtos</summary>
                    <div class="dropdown_content">
                        <a href="/entrada_livro">Entrada de livros</a>
                        <a href="/entrada_outros">Entrada de outros produtos</a>
                        <a href="/livros">Listar livros</a>
                    </div>
                </details>

                <details>
                    <summary>Gerenciamento</summary>
                    <div class="dropdown_content">
                        <a href="/cadastro_prateleira">Cadastro de prateleira</a>
                        <a href="/cadastro_setor">Cadastro de setor</a>
                        <a href="/cadastro_classificacao">cadastro de classificação de produto</a>
                    </div>
                </details>

            </div>
        </div>
    </div>


    <div class="sidebar">
        <div class="sidebar_click">
            <h3>BookCase</h3> 
            <img src="../../static/media/arrow_open.svg" alt="" class="btn_sidebar_control">
        </div>
        <div class="sidebar_links" >
            <a href="/cadastro_prateleira">Entrada prateleira</a>

        </div>
        <div class="sidebar_login sidebar_close">
            <h3>{{ usuario_logado }}</h3>
            <a href="#">Logout</a>
        </div>
    </div>   
    <main>
        <div class="main_dashboard">
            <h2>Entrada outros</h2>
            
            <p>{{ message }}</p>
            
            <form method="POST" class="main_form">
            <label>Nome</label>
            
            <input type="text" name="nome">
            
            <label>Classificação do produto</label>
            
            <select name="id_classificacao" >
                {% for classificacao in classificacoes %}
                <option value="{{ classificacao.id }}">
                    {{ classificacao.nome_classificacao }}
                </option>
                {% endfor %}
            </select>
            
            <label>Preço de compra</label>
            
            <input type="number" step="0.01" name="preco">
            
            <label>Quantidade</label>
            
            <input type="number" name="quantidade">
            <label>Setor</label>
            <select name="id_setor">
            {% for setor in setores %}
            <option value="{{ setor.id }}">
                {{ setor.nome }} - {{ setor.descricao }}
            </option>
            {% endfor %}
            </select>
            <button type="submit">
                Registrar Entrada
            </button>
            
            </form>
        </div>
    </main>
<script src="../../static/js/estoque.js" type="module"></script>
</body>
</html>