<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de patreleira</title>
</head>
<body>
    <h1>Cadastro de prateleira</h1>

    <p>{{ message }}</p>
    <form method="post">
        
        <label for="codigo">Código</label>
        <br>
        <input type="text" name="codigo">
        <br><br>

        <label for="descricao">Descição</label>
        <br>
        <input type="text" name="descricao">
        <br><br>

        <label for="setor">Setor</label>
        <br>
        <input type="text" name="setor">
        <br><br>

        <button type="submit">Salvar</button>
    </form>
</body>
</html>